<!-- contenido partial texto -->
<p class="text">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, <br>
  sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. <br>
  Ut enim ad minim veniam, <br>quis nostrud exercitation <br>ullamco laboris
  nisi ut aliquip ex <br> ea commodo consequat.
</p>
