<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <title>Express Handlebars exercise</title>

    <!-- SCRIPT función mostrar imagenes ocultas -->
    <script type="text/javascript">

    // muestra la primera imagen
      function showImage1(){
        document.getElementById('pepe').style.visibility='visible';
      };
      
      // muestra la segundo imagen
      function showImage2(){
        document.getElementById('pepe2').style.visibility='visible';
      };
    </script>

  </head>
  <body>
    <!-- fondo gris -->
      <section class="grey">
      </section>

      <!-- fondo gradiente amarillo-rojo -->
      <section class="gradient">
      </section>

      <!-- titulo y texto posicionado a la izquierda -->
      <div class="izquierda">
        <img id="pepe" src="https://ugc.kn3.net/i/origin/http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg" alt="pepe" style="visibility:hidden">

        <!-- partial handlebars del titulo -->
        {{>titulo}}

        <!-- botton primera imagen -->
        <button type="button" name="button" onclick="showImage1()">GUAPO</button>
         <br>

         <!-- partial handlebars del texto -->
        {{>texto}}
      </div>

      <!-- titulo y texto posicionado a la derecha -->
      <div class="derecha">
        <img id="pepe2" src="https://ugc.kn3.net/i/origin/http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg" alt="pepe" style="visibility:hidden" >

        <!-- partial handlebars del titulo -->
        {{>titulo}}

        <!-- botton segunda imagen -->
        <button type="button" name="button" onclick="showImage2()">HERMOSO</button>
        <br>

        <!-- partial handlebars del texto -->
        {{>texto}}
      </div>
  </body>
</html>
