// fondo gris
.grey{
  position: absolute;
  background-color: grey;
  height: 500px;
  width: 50%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  display: inline-flex;
  float: left;
  z-index: -1;
}

// fondo gradiente amarillo-rojo
.gradient{
  position: absolute;
  display: inline-flex;
  background: linear-gradient(red, yellow);
  height: 500px;
  width: 50%;
  -webkit-clip-path: polygon(72% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(72% 0, 100% 0, 100% 100%, 0% 100%);
  padding: 0;
  z-index: -1;
  right: 0px;
}

// texto
.text{
  vertical-align: bottom;
  z-index: 3;
  display: inline-flex;
  margin: 0px;
}

// titulo
.title{
  vertical-align: bottom;
  display: block;
  z-index: 3;
  display: inline-flex;
}

// texto a la derecha
.derecha{
  float: right;
  text-align: right;
}

// imagen a la derecha
.derecha img{
  right: 100px !important;
  width: 100px;
  height: auto;
  position: absolute;
}

// imagen a la izquierda
.izquierda img{
  position: absolute;
  width: 100px;
  height: auto;
  left: 100px;
}
