/* line 2, ../sass/custom.scss */
.grey {
  position: absolute;
  background-color: grey;
  height: 500px;
  width: 50%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  display: inline-flex;
  float: left;
  z-index: -1;
}

/* line 15, ../sass/custom.scss */
.gradient {
  position: absolute;
  display: inline-flex;
  background: linear-gradient(red, yellow);
  height: 500px;
  width: 50%;
  -webkit-clip-path: polygon(72% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(72% 0, 100% 0, 100% 100%, 0% 100%);
  padding: 0;
  z-index: -1;
  right: 0px;
}

/* line 29, ../sass/custom.scss */
.text {
  vertical-align: bottom;
  z-index: 3;
  display: inline-flex;
  margin: 0px;
}

/* line 37, ../sass/custom.scss */
.title {
  vertical-align: bottom;
  display: block;
  z-index: 3;
  display: inline-flex;
}

/* line 45, ../sass/custom.scss */
.derecha {
  float: right;
  text-align: right;
}

/* line 51, ../sass/custom.scss */
.derecha img {
  right: 100px !important;
  width: 100px;
  height: auto;
  position: absolute;
}

/* line 59, ../sass/custom.scss */
.izquierda img {
  position: absolute;
  width: 100px;
  height: auto;
  left: 100px;
}
